@charset "utf-8";
.wrapper{
	width: 100%;
	margin: 0 auto;
}
.inner {
	width:1100px;
	margin:0 auto;
}
.header-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
}
.header-inner .logo{
	padding: 15px;
	color: #777;
}
.header a{
	text-decoration: none ;
}
.header-menu a{
  color: #ffffff;
	background-color: #6ba7eb;
	font-size: 12px;
  padding: 12px 14px;
}
.header-menu a:hover {
	color: #333;
	transition: color 0.3s;
}
.hamburger-menu{
	display:none;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 2px solid #bababa;
	border-radius: 5px;
	padding: 5px;
}
.hamburger-menu div{
	width: 100%;
	height: 3px;
	background: #bababa;
	transition: all 0.3s;
}
@media screen and (max-width:767px) {
	.header-menu {
		display: none;
	}
	.hamburger-menu {
		display: flex;
	}
}
.keyvisual{
	background-image: url("../img/keyvisual/keyvisual.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	align-items: center;
}
.main-content{
	padding: 400px 0;
}
.main-title{
	font-size: 65px;
	font-weight:700;
	color: #6ba7ed;
	margin-bottom: 30px;
	text-align: center;
}
.sub-title{
	font-size: 40px;
	font-weight:700;
	color: #ffffff;
	text-align: center;
}
@media screen and (max-width:767px) {
	.keyvisual{
		height: auto;
	}
	.main-title{
		font-size:40px;
	}
	.sub-title{
		font-size: 30px;
	}
}
.work {
  background: #e3f2fd;
}
.work-container{
	display: flex;
	align-items: center;
	text-align: center;
}
.work-image {
  flex: 4;
  max-width: 40%;
  margin-top: 50px;
}
.work-image img {
  width: 250px;
}
.work-text {
  flex: 6;
  max-width: 60%;
}
.work-title {
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-bottom: 35px;
}
.work-detail {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}
@media screen and (max-width:767px) {
	.inner{
		width: 97%;
	}
	.work-container{
		flex-direction: column;
		padding: 0 15px;
		max-width: 100%;
	}
	.work-text{
		max-width: 100%;
		margin-bottom: 35px;
	}
}
@media screen and (max-width:1199px) {
	.inner{
		width: 97%;
	}
	.work-container{
		flex-direction: column;
		padding: 0 15px;
		max-width: 100%;
	}
	.work-text{
		max-width: 100%;
		margin-bottom: 35px;
	}
	}
.skills{
	background: #fff;
}
.skill-title, .plan-title{
	text-align: center;
	font-size: 40px;
	letter-spacing: 10px;
}
.skill-title{
	margin: 50px 0;
}
.skills-inner{
	display: grid;
	grid-template-columns: repeat(3,300px);
	gap:100px;
	justify-content: center;
	margin-bottom: 70px;
}
@media screen and (max-width:767px) {
	.skills{
		line-height: 0;
	}
	.skills-inner{
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;
		justify-content: center;
	}
	.skills-inner .picture{
		margin: 0 auto;
	}
	.skills-inner .picture:nth-child(4),
	.skills-inner .picture:nth-child(7),
	.skills-inner .picture:nth-child(11){
		margin-top: 80px;
	}
}
@media screen and (max-width:1199px){
	.skills{
		line-height: 0;
	}
	.skills-inner{
		display: grid;
		grid-template-columns: 1fr;
		gap: 0;
		justify-content: center;
	}
	.skills-inner .picture{
		margin: 0 auto;
	}
	.skills-inner .picture:nth-child(4),
	.skills-inner .picture:nth-child(7),
	.skills-inner .picture:nth-child(11){
		margin-top: 80px;
	}
}
.skills-inner .picture img{
	width: 300px;
	height: 300px;
	object-fit: cover;
	opacity: 0.7;
}
.skills-inner .picture img:hover{
	transition: opacity 0.3 ease;
	opacity: 1.0;
}
.plan-container{
	background: #d0dfea;
	padding-bottom: 50px;
}
.plan-title-container{
	padding: 50px;
}
.plan-table{
	border-collapse: collapse;
}

.plan-table th, .plan-table td{
	border-left: 2px solid #fff;
	padding: 10px;
}
.plan-table th:first-child,
.plan-table td:first-child{
	border-left: none;
}
.plan-table th{
	font-size: 16px;
	line-height: 26px;
}
.plan-table thead th{
	background: #6ba7ed;
}
@media screen and (max-width:767px) {
	.plan-table{
		width: 97%;
	}
	.plan-table th{
		font-size: 14px;
		line-height: 22px;
	}
	.plan-table td{
		font-size: 12px;
	}
}
@media screen and (max-width:1199px) {
	.plan-table{
		width: 97%;
	}
	.plan-container{
		padding: 50px auto;
	}
}
tbody{
	text-align: center;
}
.plan-table tbody tr:nth-child(2n){
	background:#e0efff;
}
.plan-table tbody tr:nth-child(2n+1){
	background:#f9f9f9;
}
.sns-container{
	background: #e3f2fd;
}
.sns-items{
	padding: 200px 0;
	overflow: hidden;
	font-size: 40px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.sns-items a{
	color: #8c8c8c;
	cursor: pointer;
}
.sns-items i:hover{
	transition:background 0.5s ease;
	background: #fff;
	cursor: pointer;
}
.sns-container i{
	width: 185px;
	height: auto;
	padding: 25px 0;
}
@media screen and (max-width:767px) {
	.sns-container i{
		display:flex;
		flex-direction: column;
		align-items: center;
	}
	.sns-items {
		padding: 50px 15px;
		flex-direction: column;
	}
	.sns-items i {
		padding: 50px 0;
		width: 100%;
	}
}

.footer-content{
	background: #cfd8dc;
}
.right{
	padding: 20px 200px;
	font-size: 10px;
	letter-spacing: 0.5px;
	text-align: end;
}
@media screen and (max-width:767px) {
	.right{
		padding: 20px;
	}
}
@media screen and (max-width:1199px) {
	.right{
		padding: 20px;
	}
}